body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

/* navbar part */

.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 0px 100px;
    align-items: center;
}

.header-logo img {
    width: 84px;
    height: 84px;
    margin-right: auto;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}

.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

/* hero part */

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.hero-left {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

.hero-left p{
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
    font-family: 'Roboto', arial;

}

.button {
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 20px;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
}

.button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #008fb3;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
.button:hover {
    color: #fff;
}
.button:hover:before {
    width: 100%;
}

/* hero right */

.image-placeholder img{
    object-fit: cover;
    width: 500px;
    height: 350px;
    background-color: grey;
}

/* subsection/ info section */

.subsec-title {
    font-size: 36px;
    font-weight: 800;
    padding: 28px;
}

.content {
    align-items: center;
}

.content-info {
    display: flex;
    justify-content: center;
}

.content-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 10px 0px 10px;
}



.subtext {
    font-family: 'Roboto', arial;
    opacity: 0.7;
    padding: 10px 70px;
}

/* Quote section */

.quote-section {
    background-color: #E5E7EB;
    padding: 40px 170px 40px 170px;
    display: flex;
    flex-direction: column;
}

.quote-section .quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-align: left;
}

.article {
    text-align: left;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.article .quote-section {
    padding: 20px 30px;
    justify-content: center;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    width: 30%
}

.quote-section p {
    font-family: 'Roboto', arial;
    opacity: 0.7;
}

.quote-section .title {
    font-size: 25px;
    opacity: 1;
    font-weight: bold;
}

.ingredients {
    justify-content: center;

    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50%;
}

.ingredients p{
    font-size: 25px;
    font-weight: bold;
}

.author {
    text-align: right;
    font-size: 23px;
    font-weight: bold;
}

/* Subscription */

.subscription {
    margin: 90px 75px;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscription .left {
    justify-content: flex-start;
    text-align: left;
    color: #F9FAF8;
}

.subscription .left .title {
    font-size: 24px;
    font-weight: bold;
}

.subscription a{
    justify-content: flex-end;
    width: 120px;
    height: 16px;
} 

.main-title {
    padding-top: 5%;
}

.instructions {
    padding: 30px 50px;
}

.instructions p {
    font-size: 25px;
    font-weight: bold;
}

.instructions li{
    padding-bottom: 18px;
}

div.list-container{
    text-align: center;
    padding-right: 10%;
}

ul.recipe-list {
    font-size: 4.6vh;
    display: inline-block;
    text-align: left;
}

.button-34 {
    margin: 25px 0;
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}

footer{
    background-color: #1F2937;
    padding: 20px;
    color: #E5E7EB;
    font-size: 15px;
}